<launch>
	<arg
		name="output"
		default="$(optenv CPU_MARKER_OUTPUT screen)"
	/>
	<arg
		name="debug"
		default="$(optenv CPU_MARKER_DEBUG false)"
	/>
	<arg
		name="node_name"
		default="$(optenv CPU_MARKER_NODE_NAME rviz_cpu_usage_marker)"
	/>
	<arg
		name="topic_to_subscribe"
		default="$(optenv CPU_MARKER_TOPIC_TO_SUBSCRIBE /system_monitor/diagnostics)"
	/>
	<arg
		name="publish_topic_name"
		default="$(optenv CPU_MARKER_PUBLISH_TOPIC_NAME cpu_usage_marker)"
	/>
	<arg
		name="frame_id"
		default="$(optenv CPU_MARKER_FRAME_ID rb1_base_map)"
	/>
	<arg
		name="text_scale"
		default="$(optenv CPU_MARKER_TEXT_SCALE 1)"
	/>
	<arg
		name="text_red_channel"
		default="$(optenv CPU_MARKER_TEXT_RED_CHANNEL 0.0)"
	/>
	<arg
		name="text_green_channel"
		default="$(optenv CPU_MARKER_TEXT_GREEN_CHANNEL 1.0)"
	/>
	<arg
		name="text_blue_channel"
		default="$(optenv CPU_MARKER_TEXT_BLUE_CHANNEL 0.0)"
	/>
	<arg
		name="text_alpha_channel"
		default="$(optenv CPU_MARKER_TEXT_ALPHA_CHANNEL 0.8)"
	/>
	<include
		file="$(find system_monitor)/launch/system_monitor.launch"
	>
		<arg name="launch_hdd" value="false" />
		<arg name="launch_mem" value="false" />
		<arg name="launch_ntp" value="false" />
		<arg name="launch_net" value="false" />
	</include>
	<node
		pkg="rviz_cpu_usage_marker"
		type="cpu_usage_marker.py"
		name="$(arg node_name)"
		output="$(arg output)"
	>
		<param
			name="topic_to_subscribe"
			value="$(arg topic_to_subscribe)"
		 />
		 <param
			name="publish_topic_name"
			value="$(arg publish_topic_name)"
		 />
		 <param
			name="frame_id"
			value="$(arg frame_id)"
		 />
		 <param
			name="debug"
			value="$(arg debug)"
		 />
		 <param
			name="text_scale"
			value="$(arg text_scale)"
		 />
		 <param
			name="text_red_channel"
			value="$(arg text_red_channel)"
		 />
		 <param
			name="text_green_channel"
			value="$(arg text_green_channel)"
		 />
		 <param
			name="text_blue_channel"
			value="$(arg text_blue_channel)"
		 />
		 <param
			name="text_alpha_channel"
			value="$(arg text_alpha_channel)"
		 />

	</node>
</launch>